html,
body {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    overflow: hidden;
    background-image: url('../img/backgound.png');
}

.white-text,.title {
    font-size: 24px;
    color: white;
}
/* Operator */
.operatorBox {
    top: 15%;
    left: 10%;
    position: fixed;
    max-width: 350px;
    border: none;
}
.operator-img {
    border: 3px solid rgba(0, 0, 0, 0.507);

}
.operator-badge {
    margin-top: -1075px;
    margin-left: 250px;
    width: 100px;
}
.operator-name {
    font-size: 3rem;
    color: white;
    position: relative;
    margin: auto;
    margin-top: -90px;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: -2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
}

#operator-bottom-frame {
    position: absolute;
    margin-top: -39px;
}
/* Weapon */
.operator-weapon {
    top: 30%;
    left: 40%;
    position: fixed;
    max-width: 350px;
    border: 3px solid rgba(0, 0, 0, 0.507); 
}

.weapon-name,.secondweapon-name,.gadget-name {
    font-size: 3rem;
    color: white;
    text-align: center;
    text-shadow: -2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
}
.operator-secondweapon {
    top: 50%;
    left: 40%;
    position: fixed;
    max-width: 350px;
    border: 3px solid rgba(0, 0, 0, 0.507); 
}

/* Gadget */
.operator-gadget {
    top: 30%;
    left: 75%;
    position: fixed;
    max-width: 350px;
    border: 3px solid rgba(0, 0, 0, 0.507); 
}
/* Attachment */
.attachment-description {
    top: 20%;
    left: 100%;
    color: white;
    margin: 0 90px 0 0;
    text-shadow: -2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;

}
.operator-attachment {
    top: 0px;
    left: 110%;
    position: absolute;
}
.weapon-attachment-name,.secondweapon-attachment-name {
    font-size: 20px;
    width: 100%;
    color: white;
    margin: 0 90px 0 0;
    text-shadow: -2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
}