@use "color";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-image: url("../../assets/img/backgound.png");
  background-size: cover;
  color: color.$bs-white;
}

.font-red {
  color: color.$bs-red !important;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-VariableFont_wdth.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mohave-Medium-Italic";
  src:
    url("../assets/fonts/Mohave/Mohave-Medium-Italic.ttf.woff") format("woff"),
    url("../assets/fonts/Mohave/Mohave-Medium-Italic.ttf.svg#Mohave-Medium-Italic") format("svg"),
    url("../assets/fonts/Mohave/Mohave-Medium-Italic.ttf.eot"),
    url("../assets/fonts/Mohave/Mohave-Medium-Italic.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
