
@use 'color';
@use 'var';

a {

   color: color.$bs-gray-600;
   text-decoration: none;
   transition: 200ms;

   &:hover {

      color: color.$bs-gray-dark;
      text-decoration: underline;

   }
}

section {
   position: relative;
   width: 100%;
   height: 100%;

   .operatorBox {

      position: absolute;
      left: 12%;
      display: inline-block;
      margin: 2rem 0;
      background: color.$p-bg;
      width: 20%;
      border-radius: .3125rem;

      .operator-img {
         position: relative;
         z-index: 0;
         display: flex;
         justify-content: center;
         margin: 2rem auto;
         border: .3rem solid color.$seconed;
         border-radius: .3125rem;
      }

      .operator-badge {
         width: 25%;
         position: absolute;
         top: 60%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 1;
         display: block;
      }

      .operator-bottom {
         display: block;
         width: 100%;
         margin: 1rem auto 2rem auto;
         text-align: center;

         .operator-name {
            font-family: 'Mohave-Medium-Italic';
            font-size: 2.6rem;

            margin: 2rem 0 1rem;
         }

         button {

            position: relative;
            font-family: 'Mohave-Medium-Italic';
            font-size: 1.6rem;
            text-align: center;
            padding: .6rem 1.2rem;
            border: none;
            outline: none;
            margin: .4rem 0;
            transition: 200ms;
            border-top: .4rem solid;
            border-bottom: .4rem solid;

            span {
               margin: auto;
               transition: 200ms;
            }

            &::before {

               content: "";
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               background: color.$r6-lightblue;
               background: -moz-linear-gradient(0deg,rgba(0,255,230,.8) 0,rgba(0,255,230,0) 65%);
               background: -webkit-linear-gradient(0deg,rgba(0,255,230,.8),rgba(0,255,230,0) 65%);
               background: linear-gradient(0deg,rgba(0,255,230,.8),rgba(0,255,230,0) 65%);
               filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffe6",endColorstr="#00ffe6",GradientType=1);
               opacity: 0;
               transition: opacity 200ms ease-in;

            }

            &:hover {

               &::before {
                  opacity: 1;
               }

               span {
                  transform: scale(1.1);
               }
               border-bottom: .4rem solid color.$r6-lightblue !important;

            }

            &#attacker {
               width: 40%;
               display: inline-flex;
               background: color.$r6-blue;
               border-color: color.$r6-blue;
            }

            &#defender {
               width: 40%;
               display: inline-flex;
               background: color.$r6-organge;
               border-color: color.$r6-organge;
            }

            &#random-challenge-button {
               width: 81%;
               color: color.$bs-white;
               display: flex;
               justify-content: center;
               margin: .8rem auto;
               background: color.$prime;
               border-color: color.$prime;
            }
         }
      }
   }

   .operator-weapons {

      position: absolute;
      top: 4rem;
      left: 38%;
      display: block;
      margin: 0;
      background: color.$p-bg;
      padding: 1rem .8rem;
      border-radius: .3125rem;

      .primaryweapon {
         display: block;
         text-align: center;
         width: 60rem;

         h2 {
            
            font-family: 'Mohave-Medium-Italic';
            font-size: 1.8rem;
            margin: 1rem 0;
         }

         span {
            font-family: 'Mohave-Medium-Italic';
            font-size: 1.6rem;
            margin: .6rem 0;
         }

         .weapon-info {
            display: grid;
            grid-template-columns: 35% auto auto auto;
            gap: .4rem;

            div {
               display: grid;
            }
         }
      }

      .secondweapon {
         display: block;
         text-align: center;
         width: 55rem;

         h2 {
            
            font-family: 'Mohave-Medium-Italic';
            font-size: 1.8rem;
            margin: 1rem 0;
         }

         span {
            font-family: 'Mohave-Medium-Italic';
            font-size: 1.6rem;
            margin: .6rem 0;
         }

         .weapon-info {
            display: grid;
            grid-template-columns: 35% auto auto auto;
            gap: .4rem;

            div {
               display: grid;
            }
         }
      }

   }

   .operator-gadget {

      position: absolute;
      top: 35rem;
      left: 38%;
      display: block;
      margin: 0;
      background: color.$p-bg;
      padding: 1rem 1.2rem;
      border-radius: .3125rem;
      text-align: center;

      h2 {
            
         font-family: 'Mohave-Medium-Italic';
         font-size: 1.8rem;
         margin: 0;
      }
   }

   .challenges {

      position: absolute;
      top: 35rem;
      left: 58%;
      display: block;
      margin: 0;
      background: color.$p-bg;
      padding: 1rem 1.2rem;
      border-radius: .3125rem;
      text-align: center;
      width: 30%;

      h2 {
            
         font-family: 'Mohave-Medium-Italic';
         font-size: 1.8rem;
         margin: 0;
      }

      .random-challenge {
         display: grid;
         grid-template-columns: 50% 50%;
         font-size: 1rem;
         padding: .8rem 1.2rem;

         span { font-weight: bold; }

         p { margin: .6rem 0; }

         .challenge-de, .challenge-en {
            margin: 0 .8rem;
         }

         .challenge-de::before { content: "🇩🇪"; }
         .challenge-en::before { content: "🇬🇧"; }
      }
   }
}

#changelogbox {
   display: none;

   .changelog {
      z-index: 1;
      width: 50%;
      position: fixed;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 1rem;
      background: #000000da;
      border-radius: .3125rem;
      display: grid;
      grid-template-columns: 50% 50%;

      .close {
         position: absolute;
         top: .4rem;
         right: .6rem;
         font-size: 1.4rem;
         z-index: 2;
         color: color.$bs-white;
         transition: 200ms;
         cursor: pointer;
      
         &:hover {
            color: color.$bs-secondary;
         }
      }

      .log-tab {

         h2 {
            text-align: center;
            font-size: 1.6rem;
            font-family: 'Mohave-Medium-Italic';
         }

         .log {
            margin: 0 .4rem;
            padding: .8rem;
            border-radius: .3125rem;
            background: color.$prime;

            p { margin: .2rem 0; }

            code {
               display: block;
               text-align: right;
            }
         }

      }
      
   }
}

footer {

   width: 100%;
   position: absolute;
   display: grid;
   grid-template-columns: 25% auto 25%;
   align-items: center;
   bottom: 0;
   left: 0;
   background: color.$prime;
   color: color.$bs-gray-600;
   padding: .4rem 0;

   span {

      font-size: .7rem;
      text-align: center;

   }

   div {

      font-size: .9rem;
      padding: 0 .8rem;

      &.left {

         text-align: left;

         a {
            padding: 0 0.2rem;
         }

      }

      &.right {

         text-align: right;

      }

   }

   .pn {
      color: color.$bs-blue;
   }

}

@media (max-width: 1000px)  {

   .operatorBox {

      position: relative !important;
      left: 50% !important;
      transform: translate(-50%, 0) !important;
      width: 70% !important;
      padding: 0 2rem !important;

   }

   .operator-weapons {

      position: relative !important;
      top: 2rem !important;
      left: 50% !important;
      transform: translate(-50%, 0) !important;
      width: 75% !important;

      .primaryweapon {

         width: auto !important;

         .weapon-info { 

            display: block !important;

            .weapon {
               justify-items: center;
            }
         }

      }

      .secondweapon {

         margin-top: 6rem;
         width: auto !important;

         .weapon-info { 
            
            display: block !important;

            .weapon {
               justify-items: center;
            }
         }
      }
   }

   .operator-gadget {

      position: relative !important;
      top: 4rem !important;
      left: 50% !important;
      transform: translate(-50%, 0) !important;
      width: 75% !important;
      padding: 1rem !important;

   }

   .challenges {

      position: relative !important;
      top: 6rem !important;
      left: 50% !important;
      transform: translate(-50%, 0) !important;
      width: 75% !important;
      padding: 1rem !important;

      .random-challenge {
         display: block !important;
         font-size: 1.2rem !important;       
      }

   }

   .changelog {
      width: 74% !important;
      display: block !important;
   }

   footer {

      position: relative;
      bottom: 0;
      left: 0;
      display: grid;
      margin-top: 8rem;
      grid-template-columns: auto auto;
      align-items: center;

      span {
         display: none;
      }

   }

}