@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-image: url("../../assets/img/backgound.png");
  background-size: cover;
  color: #fff;
}

.font-red {
  color: #dc3545 !important;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-VariableFont_wdth.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mohave-Medium-Italic";
  src:
    url("../assets/fonts/Mohave/Mohave-Medium-Italic.ttf.woff") format("woff"),
    url("../assets/fonts/Mohave/Mohave-Medium-Italic.ttf.svg#Mohave-Medium-Italic") format("svg"),
    url("../assets/fonts/Mohave/Mohave-Medium-Italic.ttf.eot"),
    url("../assets/fonts/Mohave/Mohave-Medium-Italic.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
a {
  color: #6c757d;
  text-decoration: none;
  transition: 200ms;
}
a:hover {
  color: #343a40;
  text-decoration: underline;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}
section .operatorBox {
  position: absolute;
  left: 12%;
  display: inline-block;
  margin: 2rem 0;
  background: rgba(0, 0, 0, 0.5019607843);
  width: 20%;
  border-radius: 0.3125rem;
}
section .operatorBox .operator-img {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  border: 0.3rem solid #161b22;
  border-radius: 0.3125rem;
}
section .operatorBox .operator-badge {
  width: 25%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: block;
}
section .operatorBox .operator-bottom {
  display: block;
  width: 100%;
  margin: 1rem auto 2rem auto;
  text-align: center;
}
section .operatorBox .operator-bottom .operator-name {
  font-family: "Mohave-Medium-Italic";
  font-size: 2.6rem;
  margin: 2rem 0 1rem;
}
section .operatorBox .operator-bottom button {
  position: relative;
  font-family: "Mohave-Medium-Italic";
  font-size: 1.6rem;
  text-align: center;
  padding: 0.6rem 1.2rem;
  border: none;
  outline: none;
  margin: 0.4rem 0;
  transition: 200ms;
  border-top: 0.4rem solid;
  border-bottom: 0.4rem solid;
}
section .operatorBox .operator-bottom button span {
  margin: auto;
  transition: 200ms;
}
section .operatorBox .operator-bottom button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00ffe6;
  background: -moz-linear-gradient(0deg, rgba(0, 255, 230, 0.8) 0, rgba(0, 255, 230, 0) 65%);
  background: -webkit-linear-gradient(0deg, rgba(0, 255, 230, 0.8), rgba(0, 255, 230, 0) 65%);
  background: linear-gradient(0deg, rgba(0, 255, 230, 0.8), rgba(0, 255, 230, 0) 65%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffe6",endColorstr="#00ffe6",GradientType=1);
  opacity: 0;
  transition: opacity 200ms ease-in;
}
section .operatorBox .operator-bottom button:hover {
  border-bottom: 0.4rem solid #00ffe6 !important;
}
section .operatorBox .operator-bottom button:hover::before {
  opacity: 1;
}
section .operatorBox .operator-bottom button:hover span {
  transform: scale(1.1);
}
section .operatorBox .operator-bottom button#attacker {
  width: 40%;
  display: inline-flex;
  background: #2499ff;
  border-color: #2499ff;
}
section .operatorBox .operator-bottom button#defender {
  width: 40%;
  display: inline-flex;
  background: #ff7424;
  border-color: #ff7424;
}
section .operatorBox .operator-bottom button#random-challenge-button {
  width: 81%;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 0.8rem auto;
  background: #0d1117;
  border-color: #0d1117;
}
section .operator-weapons {
  position: absolute;
  right: 10%;
  width: 50%;
  margin: 4% 0;
  display: block;
  background: rgba(0, 0, 0, 0.5019607843);
  padding: 1rem 0;
  border-radius: 0.3125rem;
}
section .operator-weapons .primaryweapon {
  display: block;
  text-align: center;
  width: 60rem;
}
section .operator-weapons .primaryweapon h2 {
  font-family: "Mohave-Medium-Italic";
  font-size: 1.8rem;
  margin: 1rem 0;
}
section .operator-weapons .primaryweapon span {
  font-family: "Mohave-Medium-Italic";
  font-size: 1.6rem;
  margin: 0.6rem 0;
}
section .operator-weapons .primaryweapon .weapon-info {
  display: grid;
  grid-template-columns: 35% auto auto auto;
  gap: 0.4rem;
}
section .operator-weapons .primaryweapon .weapon-info div {
  display: grid;
}
section .operator-weapons .secondweapon {
  display: block;
  text-align: center;
  width: 55rem;
}
section .operator-weapons .secondweapon h2 {
  font-family: "Mohave-Medium-Italic";
  font-size: 1.8rem;
  margin: 1rem 0;
}
section .operator-weapons .secondweapon span {
  font-family: "Mohave-Medium-Italic";
  font-size: 1.6rem;
  margin: 0.6rem 0;
}
section .operator-weapons .secondweapon .weapon-info {
  display: grid;
  grid-template-columns: 35% auto auto auto;
  gap: 0.4rem;
}
section .operator-weapons .secondweapon .weapon-info div {
  display: grid;
}
section .sectiopnplus {
  position: absolute;
  top: 36rem;
  right: 10%;
  width: 50%;
  height: 12rem;
  display: grid;
  gap: 5%;
  grid-template-columns: auto auto;
}
section .sectiopnplus .operator-gadget {
  display: block;
  margin: 0;
  background: rgba(0, 0, 0, 0.5019607843);
  padding: 1rem 1.2rem;
  border-radius: 0.3125rem;
  text-align: center;
}
section .sectiopnplus .operator-gadget h2 {
  font-family: "Mohave-Medium-Italic";
  font-size: 1.8rem;
  margin: 0;
}
section .sectiopnplus .operator-gadget img {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
section .sectiopnplus .challenges {
  display: block;
  margin: 0;
  background: rgba(0, 0, 0, 0.5019607843);
  padding: 1rem 1.2rem;
  border-radius: 0.3125rem;
  text-align: center;
}
section .sectiopnplus .challenges h2 {
  font-family: "Mohave-Medium-Italic";
  font-size: 1.8rem;
  margin: 0;
}
section .sectiopnplus .challenges .random-challenge {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
}
section .sectiopnplus .challenges .random-challenge span {
  font-weight: bold;
}
section .sectiopnplus .challenges .random-challenge p {
  margin: 0.6rem 0;
}
section .sectiopnplus .challenges .random-challenge .challenge-de,
section .sectiopnplus .challenges .random-challenge .challenge-en {
  margin: 0 0.8rem;
}
section .sectiopnplus .challenges .random-challenge .challenge-de::before {
  content: "🇩🇪";
}
section .sectiopnplus .challenges .random-challenge .challenge-en::before {
  content: "🇬🇧";
}

#changelogbox,
#privacybox,
#impressumbox {
  display: none;
}
#changelogbox .modalbox,
#impressumbox .modalbox {
  z-index: 1;
  width: 50%;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8549019608);
  border-radius: 0.3125rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

#privacybox .modalbox {
  z-index: 1;
  width: 75%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background: rgba(0, 0, 0);
  border-radius: 0.3125rem;
}

#changelogbox .modalbox .close,
#privacybox .modalbox .close,
#impressumbox .modalbox .close {
  position: absolute;
  top: 0.4rem;
  right: 0.6rem;
  font-size: 1.4rem;
  z-index: 2;
  color: #fff;
  transition: 200ms;
  cursor: pointer;
}
#changelogbox .modalbox .close:hover,
#privacybox.modalbox .close:hover,
#impressumbox .modalbox .close:hover {
  color: #6c757d;
}
#changelogbox .modalbox .log-tab h2,
#privacybox .modalbox .log-tab h2,
#impressumbox .modalbox .log-tab h2 {
  text-align: center;
  font-size: 1.6rem;
  font-family: "Mohave-Medium-Italic";
}
#changelogbox .modalbox .log-tab .log,
#privacybox .modalbox .log-tab .log,
#impressumbox .modalbox .log-tab .log {
  margin: 0 0.4rem;
  padding: 0.8rem;
  border-radius: 0.3125rem;
  background: #0d1117;
}
#changelogbox .modalbox .log-tab .log p,
#privacybox .modalbox .log-tab .log p,
#impressumbox .modalbox .log-tab .log p {
  margin: 0.2rem 0;
}
#changelogbox .modalbox .log-tab .log code,
#privacybox .modalbox .log-tab .log code,
#impressumbox .modalbox .log-tab .log code {
  display: block;
  text-align: right;
}

#languageToggle {
  display: flex;
  margin-bottom: 10px;
}

#languageToggle button {
  margin-right: 10px;
}

#language-button {
  width: 81%;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 0.8rem auto;
  background: #243154;
  border-color: #0d1117;
}

footer {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 30% auto 30%;
  align-items: center;
  bottom: 0;
  left: 0;
  background: #0d1117;
  color: #6c757d;
  padding: 0.4rem 0;
}
footer span {
  font-size: 0.7rem;
  text-align: center;
}
footer div {
  font-size: 0.9rem;
  padding: 0 0.8rem;
}
footer div.left {
  text-align: left;
}
footer div.left a {
  padding: 0 0.2rem;
}
footer div.right {
  text-align: right;
}
footer .pn {
  color: #0d6efd;
}

@media (max-width: 1000px) {
  .operatorBox {
    position: relative !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    width: 70% !important;
    padding: 0 2rem !important;
  }
  .operator-weapons {
    position: relative !important;
    top: 2rem !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    width: 75% !important;
    padding: 1rem 0.6rem !important;
  }
  .operator-weapons .primaryweapon {
    width: auto !important;
  }
  .operator-weapons .primaryweapon .weapon-info {
    display: block !important;
  }
  .operator-weapons .primaryweapon .weapon-info .weapon {
    justify-items: center;
  }
  .operator-weapons .secondweapon {
    margin-top: 6rem;
    width: auto !important;
  }
  .operator-weapons .secondweapon .weapon-info {
    display: block !important;
  }
  .operator-weapons .secondweapon .weapon-info .weapon {
    justify-items: center;
  }
  .sectiopnplus {
    position: relative !important;
    top: 4rem !important;
    left: 50% !important;
    display: grid !important;
    grid-template-columns: auto !important;
    gap: 4rem !important;
    width: 80% !important;
    height: auto !important;
  }
  .sectiopnplus .operator-gadget {
    transform: translate(-50%, 0) !important;
    padding: 1rem !important;
  }
  .sectiopnplus .challenges {
    transform: translate(-50%, 0) !important;
    padding: 1rem !important;
  }
  .sectiopnplus .challenges .random-challenge {
    display: block !important;
    font-size: 1.2rem !important;
  }
  .changelog {
    width: 74% !important;
    display: block !important;
  }
  footer {
    position: relative;
    bottom: 0;
    left: 0;
    display: grid;
    margin-top: 8rem;
    grid-template-columns: auto !important;
    gap: 1rem;
    align-items: center;
    text-align: center;
  }
  footer .left {
    text-align: unset !important;
  }
  footer .right {
    text-align: unset !important;
  }
  footer span {
    display: none;
  }
}

/*# sourceMappingURL=main.style.css.map */
